html{
    box-sizing: border-box;
}


*,
  *:before,
  *:after {
    box-sizing: inherit;
  }


  body{
      font-family: 'Oswald', sans-serif;
      max-width: 100%;
      margin: 0;
      

  }


/* header */

.fix {
      position: fixed;
      top: 0;
      width: 100%; 
}

  
.header{
      background-color: rgba(0, 0, 0, 0.7); 
      width: 100%; 
      display: flex;
      justify-content: space-evenly;
}


 a{
      text-decoration: none;
      list-style: none;
      text-align: center;
      font-size: 3vw;
      color: rgba(250, 250, 250, 0.5);
}
a:hover{
      color: rgba(243, 7, 21, 1);
}




h1{
      font-size: 15vw;
      text-align: center;
      color: #000;
      margin-bottom: 20%;
     
}



/* section cuba */

.cuba {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      margin-bottom: 10%;
      
}

.img_cuba1{
      grid-column: 1 /2;
      grid-row: 2 / 3;
      width: 100%;
      
}

.img_cuba2{
      grid-column: 3 /4;
      grid-row: 1 / 2;
      width: 100%;
      align-self: end;
      
}

.img_cuba3{
      grid-column: 2 /3;
      grid-row: 1 / 2;
      width: 100%;
      align-self: end;      
}

.img_cuba4{
      grid-column: 2 / 3;
      grid-row: 2 / 3;
      width: 100%;
    
}
.img_cuba5{
      grid-column: 3 /4;
      grid-row: 2 / 3;
      width: 100%;
     
    
}



.cubatxt{
      font-size: 7vw;
      color: rgba(0, 0, 0, 0.8);
      width: 100%;
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      letter-spacing: 0.1em;
      text-align: center;
      
      
}





/* section mex */




.mex {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      margin-bottom: 10%;
}

.img_mex1{
      grid-column: 1 /2;
      grid-row: 2 / 3;
      width: 100%;
      
}

.img_mex2{
      grid-column: 3 /4;
      grid-row: 1 / 2;
      width: 100%;
      align-self: end;
      
}

.img_mex3{
      grid-column: 2 /3;
      grid-row: 1 / 2;
      width: 100%;
      align-self: end;      
}

.img_mex4{
      grid-column: 2 / 3;
      grid-row: 2 / 3;
      width: 100%;
    
}
.img_mex5{
      grid-column: 3 /4;
      grid-row: 2 / 3;
      width: 100%;
     
    
}



.mextxt{
      font-size: 7vw;
      color: rgba(0, 0, 0, 0.8);
      width: 100%;
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      letter-spacing: 0.1em;
      text-align: center;
      
      
}

/* section pol */



.pol {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      margin-bottom: 10%;
}

.img_pol1{
      grid-column: 1 /2;
      grid-row: 2 / 3;
      width: 100%;
      
}

.img_pol2{
      grid-column: 3 /4;
      grid-row: 1 / 2;
      width: 100%;
      align-self: end;
      
}

.img_pol3{
      grid-column: 2 /3;
      grid-row: 1 / 2;
      width: 100%;
      align-self: end;      
}

.img_pol4{
      grid-column: 2 / 3;
      grid-row: 2 / 3;
      width: 100%;
    
}
.img_pol5{
      grid-column: 3 /4;
      grid-row: 2 / 3;
      width: 100%;
     
    
}



.poltxt{
      font-size: 7vw;
      color: rgba(0, 0, 0, 0.8);
      width: 100%;
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      letter-spacing: 0.1em;
      text-align: center;
      
      
}
/* section bcn */



.bcn {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      
}

.img_bcn1{
      grid-column: 1 /2;
      grid-row: 2 / 3;
      width: 100%;
      height: 87%;
      
}

.img_bcn2{
      grid-column: 3 /4;
      grid-row: 1 / 2;
      width: 100%;
      align-self: end;
      
}

.img_bcn3{
      grid-column: 2 /3;
      grid-row: 1 / 2;
      width: 100%;
      align-self: end;      
}

.img_bcn4{
      grid-column: 2 / 3;
      grid-row: 2 / 3;
      width: 100%;
    
}
.img_bcn5{
      grid-column: 3 /4;
      grid-row: 2 / 3;
      width: 100%;
     
    
}



.bcntxt{
      font-size: 7vw;
      color: rgba(0, 0, 0, 0.8);
      width: 100%;
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      letter-spacing: 0.1em;
      text-align: center;
      
      
}
/* footer */

footer{
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      width: 100%;
}

footer p{
      margin: 50px 0;
      padding: 50px;
      font-size: 2vw;
      color: rgba(0, 0, 0, 0.7);
}





@media (max-width: 900px){

       h1{
            margin: 50px;
      }
      .header a{
            display: inline-flex;
            font-size: 1.5em;
      }

      .cuba {
            display: grid;
            grid-template-columns:  1fr;
            grid-template-rows: 200px auto;
            grid-gap: 10px;
            margin-bottom: 10%;
            
      }
      
      .img_cuba1{
            grid-column: 1 / 2;
            grid-row: 2 / 3;
            width: 100%;
            margin: 10px;
            
      }
      
      .img_cuba2{
            grid-column: 1 / 2;
            grid-row: 3 / 4;
            width: 100%;
            margin: 10px;
      }
      
      .img_cuba3{
            grid-column: 1 / 2;
            grid-row: 5 / 6;
            width: 100%;
            margin: 10px;      
      }
      
      .img_cuba4{
            grid-column: 1 / 2;
            grid-row: 6 / 7;
            width: 100%;
            margin: 10px;
          
      }
      .img_cuba5{
            grid-column: 1 / 2;
            grid-row: 7 / 8;
            width: 100%;
            margin: 10px;
           
          
      }
      
      
      
      .cubatxt{
            font-size: 10vw;
            color: rgba(0, 0, 0, 0.8);
            width: 100%;
            grid-column: 1 / 4;
            grid-row: 1 / 2;
            letter-spacing: 0.1em;
            text-align: center;
            justify-self: center;
            align-self: center;
            
            
      }
      
      
      
      
      
      /* section mex */
      
      
      
      
      .mex {
            display: grid;
            grid-template-columns:  1fr;
            grid-template-rows: 200px auto;
            margin-bottom: 10%;
            grid-gap: 10px;
      }
      
      .img_mex1{
            grid-column: 1 / 2;
            grid-row: 2 / 3;
            width: 100%;
            margin: 10px;
            
      }
      
      .img_mex2{
            grid-column: 1 / 2;
            grid-row: 3 / 4;
            width: 100%;
            margin: 10px;

            
      }
      
      .img_mex3{
            grid-column: 1 / 2;
            grid-row: 5 / 6;
            width: 100%;
            margin: 10px;      
      }
      
      .img_mex4{
            grid-column: 1 / 2;
            grid-row: 6 / 7;
            width: 100%;
            margin: 10px;
          
      }
      .img_mex5{
            grid-column: 1 / 2;
            grid-row: 7 / 8;
            width: 100%;
            margin: 10px;
           
          
      }
      
      
      
      .mextxt{
            font-size: 10vw;
            color: rgba(0, 0, 0, 0.8);
            width: 100%;
            grid-column: 1 / 4;
            grid-row: 1 / 2;
            letter-spacing: 0.1em;
            text-align: center;
            justify-self: center;
            align-self: center;
            
            
      }
      
      /* section pol */
      
      
      
      .pol {
            display: grid;
            grid-template-columns:  1fr;
            grid-template-rows: 200px auto;
            margin-bottom: 10%;
            grid-gap: 10px;
            
      }
      
      .img_pol1{
            grid-column: 1 / 2;
            grid-row: 2 / 3;
            width: 100%;
            margin: 10px;
      }
      
      .img_pol2{
            grid-column: 1 / 2;
            grid-row: 3 / 4;
            width: 100%;
            margin: 10px;
            
      }
      
      .img_pol3{
            grid-column: 1 / 2;
            grid-row: 5 / 6;
            width: 100%;
            margin: 10px;      
      }
      
      .img_pol4{
            grid-column: 1 / 2;
            grid-row: 6 / 7;
            width: 100%;
            margin: 10px;
          
      }
      .img_pol5{
            grid-column: 1 / 2;
            grid-row: 7 / 8;
            width: 100%;
            margin: 10px;
          
      }
      
      
      
      .poltxt{
            font-size: 10vw;
            color: rgba(0, 0, 0, 0.8);
            width: 100%;
            grid-column: 1 / 4;
            grid-row: 1 / 2;
            letter-spacing: 0.1em;
            text-align: center;
            justify-self: center;
            align-self: center;
            
            
      }
      /* section bcn */
      
      
      
      .bcn {
            display: grid;
            grid-template-columns:  1fr;
            grid-template-rows: 200px auto;
            margin-bottom: 10%;
            grid-gap: 10px;
            
      }
      
      .img_bcn1{
            grid-column: 1 / 2;
            grid-row: 2 / 3;
            width: 100%;
            margin: 10px;
      }
      
      .img_bcn2{
            grid-column: 1 / 2;
            grid-row: 3 / 4;
            width: 100%;
            margin: 10px;
            
      }
      
      .img_bcn3{
            grid-column: 1 / 2;
            grid-row: 5 / 6;
            width: 100%;
            margin: 10px;      
      }
      
      .img_bcn4{
            grid-column: 1 / 2;
            grid-row: 6 / 7;
            width: 100%;
            margin: 10px;
      }
      .img_bcn5{
            grid-column: 1 / 2;
            grid-row: 7 / 8;
            width: 100%;
           margin: 10px;
          
      }
      
      
      
      .bcntxt{
            font-size: 10vw;
            color: rgba(0, 0, 0, 0.8);
            width: 100%;
            grid-column: 1 / 4;
            grid-row: 1 / 2;
            letter-spacing: 0.1em;
            text-align: center;
            justify-self: center;
            align-self: center;
            
            
      }
      /* footer */
      
      footer{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            width: 100%;
      }
      
      footer p{
            margin: 50px 0;
            padding: 50px;
            font-size: 2vw;
            color: rgba(0, 0, 0, 0.7);
      }
      